* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.selected {
  border-bottom: 1px solid black;
}

/*
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif*/
